
# QUESTION 1: EXPLAIN KEY FEATURES OF PYTHON THAT MAKE IT POPULAR CHOICE OF PROGRAMMING?
ANSWER: THE KEY FEATURES OF PYTHON THAT MAKE IT POPULAR CHOICE OF PROGRAMMING IS,
1. PYTHON HAS A CLEAN AND EASY TO READ SYNTAX, MAKING IT BEGINNER-FRIENDLY AND IDEAL FOR THOSE NEW TO PROGRAMMING.
2. PYTHON DOES NOT NEED TO BE COMPILED BEFORE EXECUTION .PYTHON INTERPRETER EXECUTES CODE LINE BY LINE, WHICH SIMPLIFIES DEBUGGING.
3. PYTHON HAS A RICH STANDARD LIBRARY THAT SUPPORTS MANY COMMON TASKS SUCH AS FILE HANDLING, AND NETWORKING .
4.PYTHON CAN RUN ON VARIOUS OPERATING SYSTEMS LIKE WINDOWS, MACOS, WITHOUT REQUIRING CHANGES TO THE CODE.

# QUESTION 2: DESCRIBE THE ROLE OF PREDEFINED KEYWORD AND PROVIDE EXAMPLE OF HOW THEY ARE USED IN PYTHON?
ANSWER: THE ROLE OF PREDEFINED KEYWORD ARE
1. KEYWORDS LIKE IF,ELSE, ELIF, WHILE, AND FOR ARE USED TO CONTROL THE FLOW OF THE PROGRAM BASED ON CERTAIN CONDITIONS.
2. KEYWORDS LIKE TRY, EXCEPT, FINALLY, AND RAISE ARE USED FOR HANDLING ERRORS AND EXCEPTIONS.
3. KEYWORDS LIKE IMPORT, FROM, AS, WITH ARE USED TO MANAGE IMPORTS AND IN ARE USED IN LOGICAL OPERATIONS.
4. KEYWORDS LIKE IS, NONE, TRUE, AND FALSE ARE USED FOR CHECKING OBJECT IDENTITY AND WORKING WITH BOOLEAN VALUES.
 EXAMPLES OF KEYWORDS IN USE;

In [ ]:
I=[3,4,"PWSKILLS","AJAY"]
for i in I:
    print(i)

3
4
PWSKILLS
AJAY

In [ ]:
A=[1,5,"riya","moon",]
for i in A:
    print(i)

1
5
riya
moon

# QUESTION 3; COMPARE AND CONTRAST OF MUTABLE AND IMMUTABLE OBJECTS IN PYTHON WITH EXAMPLES?
ANSWER: MUTABLE OBJECTS ARE THOSE WHOSE VALUES CAN BE CHANGED AFTER THEY ARE CREATED. THIS MANS WE CAN MODIFY, UPDATE OR ALTER THE CONTENT OF THE OBJECT WITHOUT CHANGING ITS IDENTITY. EXAMPLES ARE LIST, DICT., SETS.

In [ ]:
Li=[2,3,"PWSKILLS"]
Li

[2, 3, 'PWSKILLS']

In [ ]:
Li[0]=25
Li[2]=50
Li

[25, 3, 50]

In [ ]:
Li=["APPLE","AJAY","2"]
Li

['APPLE', 'AJAY', '2']

IMMUTABLE OJECTS: IMMUTABLE OBJECTS ARE THOSE WHOSE STATE OR VALUE CANNOT BE CHANGED AFTER THEY ARE CREATED.ANY ATTEMPT TO ALTER THEIR VALUE WILL RESULT IN THE CREATION OF A NEW OBJECT.

In [ ]:
Li="PWSKILLS"
Li

'PWSKILLS'

In [ ]:
Li="APPLE", "SUN"
Li

('APPLE', 'SUN')

In [ ]:
Li[0]=0
Li

TypeError: 'tuple' object does not support item assignment

QUESTION 4: DISCUSS THE TYPES OF DIFFERENT OPERATORS IN PYTHON AND PROVIDE EXAMPLES OF HOW THEY ARE USED?
ANSWER: TYPES OF OPERATORS IN PYTHON.
1. ARITHMETIC OPERATORS: THESE OPERATORS ARE USED TO PERFORM MATHEMATICAL OPERATIONS LIKE ADDITION, SUBSTRACTION, MULTIPLICATION, ETC.

ADDITION

In [ ]:
A=10
B=5
A+B

15

SUBSTRACTION

In [ ]:
A=10
B=4
A-B

6

MULTIPLICATION

In [ ]:
A=5
B=5
A*B

25

DIVISION

In [ ]:
A=10
B=5
A/B

2.0

2. COMPARISON OPERATORS: THESE OPERATORS COMPARE VALUES AND RETURN TRUE OR FALSE.EXAMPLES ARE <,>,>=,<=,==,!=

In [ ]:
2==2
A=2
2

2

In [ ]:
A=55
B=65
A>B

False

In [ ]:
A=80
B=50
A>B

True

3.LOGICAL OPERATORS: THESE OPERATORS ARE USED TO PERFORM LOGICAL OPERATIONS. EXAMPLES ARE AND, OR, NOT

In [ ]:
A=50
B=60
(A>100)or(B<10)

False

In [ ]:
A=15
B=20
(A>10)and(B<30)

True

4.BITWISE OPERATORS: THESE OPERATORS PERFORM OPERATIONS AT THE BINARY LEVEL. EXAMPLES, AND,OR,XOR,NOT, LEFT SHIFT <<, right SHIFT >>.

In [ ]:
A=14
B=4
A&B

4

In [ ]:
A=12
B=4
A/B

3.0

In [ ]:

A=12
B=5
A^B

9

In [ ]:
A=12
B=5
A<<2

48

In [ ]:
A=14
B=4
A>>2

3

#QUESTION 5: EXPLAIN TYPE CASTING IN PYTHON WITH EXAMPLE?
ANSWER: TYPE CASTING IN PYTHON REFERS TO CONVERTING ONE DATA TYPE INTO ANOTHER..
PYTHON PROVIDES BUILT-IN FUNCTIONS TO DIRECTLY CONVERT THE DATA TYPE OF A VARIABLE INTO THE DESIRED VALUE.EXAMPLES
1. CHANGE STRING INTO INTEGER.

In [ ]:
st="120"
result=int(st)
result

120

In [ ]:
type(result)

int

2. CHANGE FLOAT INTO INTEGER.

In [ ]:
floa_t=12.3
result=int(floa_t)
result

12

In [ ]:
type(result)

int

3. CHANGE INTEGER INTO FLOAT.

In [ ]:
inte= 456
result=float(inte)
result

456.0

In [ ]:
type(result)

float

4.TUPLE INTO LIST.

In [ ]:
tup=(1,2,3,4,5)
result=list(tup)
result

[1, 2, 3, 4, 5]

In [ ]:
type(result)

list

5.LIST INTO TUPLE

In [ ]:
li=(1,2,3,4,5)
result=tuple(li)
result

(1, 2, 3, 4, 5)

In [ ]:
type(result)

tuple

#QUESTION 6: HOW CONDITIONAL STATEMENT WORK IN PYTHON? ILLUSTRATE WITH EXAMPLE.
ANSWER: A CONDITIONAL STATEMENTS ARE USED TO PERFORM DIFFERENT ACTIONS BASED ON DIFFERENT CONDITIONS. THE PRIMARY CONDITIONAL STATEMENTS INCLUDE IF, ELSE, AND ELSE.
1. IF STATEMENT

In [ ]:
number=10
if number >5:
    print("The number is greater than 5")

The number is greater than 5

2.IF ELSE STATEMENT

In [ ]:
number=2
if number >5:
    print("The number is greater than 5")
else:
    print("The number is not greater than 5")

The number is not greater than 5

3.IF ELIF ELSE STARTELEMENT.

In [ ]:
age=int(input("11"))
if age<18:
    print("You are minority")
elif 18<age<=65:
     print("You are adult")
else:
      print("You are senior citizen")

1111
You are minority

4.NESTED IF-ELSE STATEMENT.

In [ ]:
number=15
if number >10:
    print("The number is greater than 10")
    if number % 2 ==0:
        print("The number is even")
    else:
         print("The number is odd")

The number is greater than 10
The number is odd

 #QUESTION 7: DESCRIBE THE DIFFERENT TYPE OF LOOPS IN PYTHON AND THEIR USE CASE WITH EXAMPLE?
 ANSWER: THERE ARE TWO PRIMARY TYPES OF LOOPS. FOR LOOP AND WHILE LOOP.
 1. for LOOP: IT IS USED TO ITERATE OVER A SEQUENCE .
 EXAMPLE

In [ ]:
fruits=["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for char in "python":
    print(char)

p
y
t
h
o
n

2.while LOOP : IT KEEPS EXECUTING A BLOCK OF CODE AS LONG AS A SPECIFIED CONDITION IS TRUE.

In [ ]:
i=1
while i <=5:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
number=10
while number >0:
    print("Number is:",number)
    number-=2

Number is: 10
Number is: 8
Number is: 6
Number is: 4
Number is: 2

3.NESTED LOOPS: PYTHON ALLOWS LOOPS TO BE NESTED, MEANING WE CAN PLACE ONE LOOP INSIDE ANOTHER.

In [ ]:
for i in range (1,4):
    for j in range (1,4):
        print(f"i= {i}, j={j}")

i= 1, j=1
i= 1, j=2
i= 1, j=3
i= 2, j=1
i= 2, j=2
i= 2, j=3
i= 3, j=1
i= 3, j=2
i= 3, j=3

4.LOOP CONTROL STATEMENTS: IT INCLUDES
USING BREAK

In [ ]:
for i in range(1,  10):
    if i == 5:
        break
    print(i)

1
2
3
4

USING CONTINUE.

In [ ]:
for i in range(1,  6):
     if i == 3:
         continue
     print(i)

1
2
4
5

5.INFINITE LOOPS: IF A LOOP CONDITION NEVER BECOMES FALSE, IT CAN RESULT IN AN INFINITE LOOP. EXAMPLE

In [ ]:
while True:
    print(This is an infinite loop!")
    This loop will run forever unless its interrupted.